img-footer {
  nav[slot='top-nav'] {
    all: unset;
    color: var(--body-color);

    ul {
      all: unset;
      display: flex;
      gap: var(--spacing-100-175);
      flex-wrap: wrap;
      justify-content: space-evenly;
      li {
        all: unset;
        display: flex;
        flex-direction: column;

        a {
          all: unset;
          display: flex;
          width: fit-content;
          font-family: var(--link-font-main);
          font-size: var(--link-size-main);
          border-bottom: solid var(--border-color) 2px;
          margin-bottom: .5rem;

          &:hover {
            border-color: var(--action-color-primary);
            color: var(--action-color-secondary);
          }
          &:focus {
            outline: solid 2px var(--action-color-secondary);
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: .5rem;

          li a {
            font-size: 12px;
            margin-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }
  }
  ul[slot='legal'] {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    li, a {
      all: unset;
    }
    a {
      font-size: var(--fs-legal);
    }
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 1rem;
    }
  }

  [slot='copyright'] {
    font-size: var(--fs-legal);
  }
}